# If PRODUCTION is "true," errors are suppressed during development.
# If PRODUCTION is "false," errors are visible for debugging in production.
PRODUCTION=false

# Database connection details
DB_HOST="localhost"
DB_USER="root"
DB_PASS="password"
DB_NAME="database"